body{
    background-color: black;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calc{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    flex-shrink: 1;
    

    background-color: gray;
}
.display{
    flex: 2;
    background-color: white;
}
.buttons{
    flex: 5;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.button{
    background-color: yellow;
    width: 25%;
}

#butclear, #butdelete{
    width: 50%;
}