@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color: black;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
}
.calc{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    flex-shrink: 1;
    padding: 16px;
    border-radius: 16px;
    

    background-color: gray;
}
.display{
    border-radius: 8px;
    flex: 2;
    margin: 1.5% 0.5%;
    margin-bottom: 16px;
    background-color: white;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    outline: 2px solid black;
}
.current{
    font-size: 36px;
    margin: 16px;
    flex:1;
}
.previous{
    flex: 1;
    font-size: 24px;
    margin: 16px;
    color: gray;
}
.buttons{
    flex: 5;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    transition: all .5s ease;
}
.button{
    
    width: 24%;
    margin: 1.5% 0.5%;
    border-radius: 8px;
    transition: all .1s ease;
}
.hover{
    transform: scale(1.06);
    background-color: rgba(255, 255, 255, 0.681);

}
#but- , #but÷, #butx, #butplus, #butdot,#buteq{

    background-color: lightblue;
}
#but-.hover,#but÷.hover, #butx.hover, #butplus.hover, #butdot.hover,#buteq.hover {
    background-color: rgba(173, 216, 230, 0.645);
}
#butCLEAR, #butDELETE{
    width: 49%;
}
#butCLEAR{
    background-color: #FFAAAA; 
}
#butCLEAR.hover{
    background-color: #ffaaaaab; 
}
#butDELETE{
    background-color: #AAAAFF;
}
#butDELETE.hover{
    background-color: #aaaaffb0; 
}
